

.App{
  position: absolute;
  left: 0;
  top: 0;
  background-color: antiquewhite;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

nav{
  position: relative;
  width: 100vw;
  display: flex;
  color: white;
  background-color: #ee6c4d;
  font-size: 25px;
  /* justify-content: space-around; */
  
}

nav .navLinks{
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 40%;
  width: 30%;

}

.Pomodoro, .Timer, .StopWatch {
  text-decoration: none;
  color: white;
  /* font-size: 20px; */
}

.navLinks a.active{
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(225, 225, 225, 0.317);
}